<nav class="navbar is-primary">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ site.baseurl }}/">
                {{ site.title }}
            </a>
            <a aria-expanded="false" aria-label="menu" class="navbar-burger burger" data-target="navMenu" role="button">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-start">
                <a class="navbar-item {% if page.url == " href="{{ site.baseurl }}/"/" %}is-active{% endif %}">Home</a>
                                                                                    {% if site.data.navigation %}
                                                                                    {% for item in site.data.navigation
                                                                                    %}
                                                                                    {% if item.dropdown %}
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link {% if item.link == page.url %}is-active{% endif %}"
                       href="{{ item.link | prepend: site.baseurl }}">{{ item.name }}</a>
                    <div class="navbar-dropdown">
                        {% for subitem in item.dropdown %}
                        <a class="navbar-item {% if subitem.link == page.url %}is-active{% endif %}"
                           href="{{ subitem.link | prepend: site.baseurl }}">{{ subitem.name }}</a>
                        {% endfor %}
                    </div>
                </div>
                                                                                    {% else %}
                <a class="navbar-item {% if item.link == page.url %}is-active{% endif %}"
                   href="{{ item.link | prepend: site.baseurl }}">{{ item.name }}</a>
                                                                                    {% endif %}
                                                                                    {% endfor %}
                                                                                    {% endif %}
            </div>
        </div>
    </div>
</nav>
