<nav class="pagination is-centered">
    {% if paginator.previous_page %}
    <a class="pagination-previous is-info" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">Previous</a>
    {% else %}
    <p class="pagination-previous" disabled>Previous</p>
    {% endif %}
    {% if paginator.next_page %}
    <a class="pagination-next is-info" href="{{ site.baseurl }}{{ paginator.next_page_path }}">Next</a>
    {% else %}
    <p class="pagination-next" disabled>Next</p>
    {% endif %}
    <ul class="pagination-list">
        {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
        <li><a class="pagination-link is-current">{{ page }}</a></li>
        {% elsif page == 1 %}
        <li><a class="pagination-link"
               href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
        </li>
        {% else %}
        <li><a class="pagination-link"
               href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{
                                                                                                                    page
                                                                                                                    }}</a>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>
